.icon-48-soutiens { background-image: url('../images/icons/icon48inmenu-48x48.png'); }
.icon-48-soutien { background-image: url('../images/icons/icon48inmenu-48x48.png'); }
.icon-48-soutienpaimts { background-image: url('../images/icons/icon48inmenupaimt-48x48.png'); }
.icon-48-soutienpaimt { background-image: url('../images/icons/icon48inmenupaimt-48x48.png'); }
.icon-48-soutienexports { background-image: url('../images/icons/icon48inmenuexp-48x48.png'); }
.icon-48-soutienexport { background-image: url('../images/icons/icon48inmenuexp-48x48.png'); }